.Modal{
    position: fixed;
    top: 15%;    
    left: 5%;
    width: 90%;
    z-index: 500;
    border: 1px solid rgb(200,200,200);
    background-color: white;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-widht: 600px){
    .Modal{
        width: 500px;
        left: calc(50% - 250px);
    }
}