body {
  /* border: 1px solid red; */
  margin: 0;
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%
}
