.Auth {
    font-style: inherit;
    margin: auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    box-sizing: border-box;  
}

/* .myForm input{
    font-family: inherit;
    font-size: 20px;
    width: 80%
}
 */
.Error {
   color: red;
}